In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt

In [26]:
dataset= pd.read_csv("original.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [25]:
X = dataset.iloc[:,[2,3]]

In [30]:
Y= dataset.iloc[:,4]

In [28]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25)

In [49]:
X_train.shape

(300, 2)

In [50]:
Y_train.shape

(300,)

In [51]:
from sklearn.preprocessing import StandardScaler

In [52]:
sc = StandardScaler()

In [53]:
X_train = sc.fit_transform(X_train)

In [55]:
X_test = sc.transform(X_test)

In [58]:
from sklearn.neighbors import KNeighborsClassifier

In [59]:
classifier = KNeighborsClassifier(n_neighbors=5, metric ='minkowski')

In [61]:
classifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [63]:
Y_pred= classifier.predict(X_test)

In [65]:
np.array(Y_test)

array([0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0], dtype=int64)

In [69]:
from sklearn .metrics import confusion_matrix

In [70]:
cm = confusion_matrix(Y_test,Y_pred)

In [71]:
cm

array([[57,  2],
       [ 6, 35]], dtype=int64)

In [72]:
from sklearn.metrics import accuracy_score

In [73]:
accuracy_score(Y_test,Y_pred)

0.92